

<h1>New Application Received</h1>
<p><%= @worker.name %> has applied for your task: <strong><%= @task.description %></strong>.</p>
<ul>
  <li> task_id <%= @task.id %> </li>
  <li>Email: <%= @worker.email %></li>
  <li>Contact: <%= @application.contact_number %></li>
  <li>Address: <%= @application.address %></li>
</ul>

