# <h1>Task#new</h1>
# <p>Find me in app/views/task/new.html.erb</p>


# <%= form_with Task: @task do |first|%>

# <div>
# <%=first.label :description%><br>
# <%=first.text_field :description%>
# </div>
# <br>
# <div>
# <%=first.label :contact_info%><br>
# <%=first.text_field :contact_info%>
# </div>
# <br>
# <div>
# <%=first.label :category_id,"Category"%><br>
# <%=first.collection_select :category_id, Category.all, :id, :category_name %>
# </div>
# <br>
# <div>
# <%=first.label :contractor_id,"Contractor"%><br>
#  <%=first.collection_select :contractor_id, Contractor.all, :id, :name %> 
# </div>
# <br>
# <%= first.submit "create task"%>
# <%end%>

 


<h1>Create New Task</h1>

<%= form_with model: @task, url: tasks_path do |form| %>

  <div>
    <%= form.label :description %><br>
    <%= form.text_field :description %>
  </div>
  <br>

  <div>
    <%= form.label :contact_info %><br>
    <%= form.text_field :contact_info %>
  </div>
  <br>

  <div>
    <%= form.label :category_id, "Category" %><br>
    <%= form.collection_select :category_id, Category.all, :id, :category_name %>
  </div>
  <br>

  <!-- Contractor is auto-filled with current_user, so no need for this field -->

  <%= form.submit "Create Task" %>

<% end %>
