<h1>Admin::Dashboard#index</h1>
<p>Find me in app/views/admin/dashboard/index.html.erb</p>

<h1>Admin Dashboard</h1>
<p>Total Users: <%= @user_count %></p>
<p>Total Tasks: <%= @task_count %></p>
<p>Total Categories: <%= @category_count %></p>

<ul>
  <li><%= link_to 'Manage Users', admin_users_path %></li>
  <li><%= link_to 'Manage Tasks', admin_tasks_path %></li>
  <li><%= link_to 'Manage Categories', admin_categories_path %></li>
</ul>
