<h1 style="text-align: center;">Edit Contractor</h1>

<div style="max-width: 500px; margin: 0 auto;">
  <%= form_with model: @contractor, url: contractor_path(@contractor), local: true do |form| %>
    <div style="margin-bottom: 15px;">
      <%= form.label :name %><br>
      <%= form.text_field :name, style: "width: 100%;" %>
    </div>

    <div style="margin-bottom: 15px;">
      <%= form.label :email %><br>
      <%= form.email_field :email, style: "width: 100%;" %>
    </div>

    <div style="margin-bottom: 15px;">
      <%= form.label :contact %><br>
      <%= form.telephone_field :phone, style: "width: 100%;" %>
    </div>


    <div style="text-align: center;">
      <%= form.submit 'Update Contractor', style: "padding: 10px 20px;" %>
    </div>
  <% end %>

  <div style="text-align: center; margin-top: 15px;">
    <%= link_to 'Back', contractor_home_path %>
  </div>
</div>
