

<%= link_to "Create New Task", new_task_path %><br><br>




<%= link_to "Add new category",new_category_url %>
<br><br>
<%= link_to "View Applications", contractor_applications_path %>
<br><br>


<h1 style="text-align: center;">My Tasks</h1>

<% @tasks.each do |task| %>
  <div style="border: 1px solid #ccc; padding: 15px; margin: 10px;">
    <h2><%= task.description %></h2>
    <p><strong>Category:</strong> <%= task.category&.category_name %></p>

    <%# <%= link_to 'Edit', edit_task_path(task) %> 
    <%= link_to 'Edit Task', edit_task_path(task) %>|

    <%= link_to 'Delete', task_path(task), method: :delete, data: { confirm: "Are you sure?" } %>
  </div>
<% end %>

