<h1>Contractor Profile</h1>

<p><strong>Name:</strong> <%= @contractor.name %></p>
<p><strong>Email:</strong> <%= @contractor.email %></p>
<p><strong>Phone:</strong> <%= @contractor.contact %></p>

<%= link_to 'Edit', edit_contractor_path(@contractor) %> |
<%= link_to 'Back', contractor_home_path %>
