    

<h1>Applications to Your Tasks</h1>

<% @applications.each do |app| %>
  <div style="border: 1px solid #ccc; padding: 10px; margin: 10px;">
    <p><strong>Worker:</strong> <%= app.worker.name %></p>
    <p><strong>Task:</strong> <%= app.task.description %></p>
    <p><strong>Status:</strong> <%= app.status.presence || 'Pending' %></p>


    <% if app.resume.attached? %>
      <p><strong>Resume:</strong> <%= link_to "Download Resume", url_for(app.resume), target: "_blank" %></p>
    <% else %>
      <p style="color: red;"><strong>No Resume Uploaded</strong></p>
    <% end %>
    
    <% if app.payments.present?%>
    <p style="color: green; font-weight:bold;"> worker has been paid for this task <p>
      <%else%>
    <%= link_to "Pay ₹1000", new_application_payment_path(app), class: "btn btn-success" %>
    <%end%>

   <tr>
    <% unless app.status.in?(%w[accepted rejected]) %>
  <td colspan="2">
    <div style="display: flex; gap: 10px;">
      <%= button_to 'Accept', update_application_status_path(app, status: 'accepted'), method: :patch, style: "display: inline-block; padding: 6px 12px; background-color: #28a745; color: white; border: none; border-radius: 4px;" %>

      <%= button_to 'Reject', update_application_status_path(app, status: 'rejected'), method: :patch, style: "display: inline-block; padding: 6px 12px; background-color: #dc3545; color: white; border: none; border-radius: 4px;" %>
    </div>
  </td>
</tr>
<% end %>

  </div>
<% end %>

