
<div style="display: flex; justify-content: center; align-items: center; height: 70vh; background-color: #f8f9fa;">
  <div style="width: 400px; padding: 25px; background-color: white; border-radius: 8px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
    <h2 style="text-align: center; margin-bottom: 20px;">Edit Task</h2>
    
<%= form_with(model: @contractor, url: contractor_path(@contractor), local: true) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %> <br><br>

  <%= f.label :email %>
  <%= f.email_field :email %><br><br>

  <%= f.label :contact %>
  <%= f.text_field :contact %><br><br>

  <% if current_user.type == 'Admin' %><br>
    <%= f.label :type %>
    <%= f.select :type, ['Admin', 'Contractor', 'Worker'], prompt: 'Select Type' %>
  <% end %>

  <%= f.submit "Save" %>
<% end %>
