<h1> this is profile page</h1>

<%= form_with User: @user do |first|%>

<div>
<%=first.label :name%><br>
<%=first.text_field :name%>
</div>
<br>
<div>
<%=first.label :email%><br>
<%=first.email_field :email%>
</div>
<br>
<div>
<%=first.label :contact%><br>
<%=first.telephone_field :contact%>
</div>
<br>

<div>
<%=first.label :role%><br>
<%= first.select :type,[["Contractor", "contractor"],["Worker","worker"]] %>

</div>
<br>

<%= first.submit  "create profile"%>
<%end%>