

<div style="display: flex; justify-content: center; align-items: center; height:70vh; background-color: #f8f9fa;">
  <div style="width: 400px; padding: 20px; background-color: white; border-radius: 8px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
    <h2 style="text-align: center; margin-bottom: 20px;">Create category</h2>
<div>

<%= form_with model: @category, url: categories_path, method: :post do |first| %>
<% if @category.errors.any? %>
    <ul>
    <%= @category.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <%end%>
    </ul>
    <%end%> 
<%=first.label :category_name%>
<%= first.text_field :category_name%>
</div>
<br>
    <%=first.submit  "add new category"%>
<%end%>
</div> 