<h1>All Users</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.type %></td>
  
        <td>
         
          <%# <%= link_to 'Delete', admin_user_url(user), method: :delete, data: { confirm: 'Are you sure?' } %> 
      <td> <%= button_to 'Destroy', admin_user_url(user.id), method: :delete, :onclick => "return confirm('Are you sure you want to delete this post?')" %></td>
       
        </td>
      </tr>
    <% end %>
          <%= link_to 'create new user profile', user_profile_url, data: { confirm: 'Are you sure?' } %>

  </tbody>
</table>
